@use 'main';

.profile-manage {
  display: flex;
  justify-content: center;
  // align-items: center;
  background-color: main.$red-magenta;
  border-top-left-radius: 91px;
  border-bottom-left-radius: 91px;
  border-top-right-radius: 91px;
  border-bottom-right-radius: 91px;
  img {
    width: 80%;
  }
  height: 100%;
}
