@use './components/login';
@use './components/register';
@use './components/manageProfile';
@use './components/booklocation';
@use './components/bookingsSummary';
@use './components/forgetpassword';
@use './components/resetpassword';
@use './abstracts' as *;

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;500;600;700;800;900&display=swap);

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  &.fw-semiBold {
    font-weight: 600 ;
  }
  &.fw-bold {
    font-weight: 700;
  }
}

h1 { font-size: $font-h1;}
h2 { font-size: $font-h2;}
h3 { font-size: $font-h3;}
h4 { font-size: $font-h4;}
h5 { font-size: $font-h5;}
h6 { font-size: $font-h6;}
p { font-size: $font-description;}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  min-height: calc(100vh - 56px);
  height: calc(100vh - 56px);
}

#root {
  min-height: 100vh;
  height: auto;
}

.navbar {
  position: sticky; 
  top: 0; 
  width: 100%; 
}
