$tint-black: #2e2e2e;
$tint-black-09: rgba(46, 46, 46, 0.9);
$black: #000000;
$shadow-red-magenta: #da4848;
$red-magenta: #db5461;
$salmon-orange: #eeac76;
$baby-pink: #ebc1c1;
$grey: #dadada;
$grey-white: #dad4d5;
$base-white: #f1edee;
$white: #ffffff;
$yellow-pastel: #eedb76;
$purple-pastel: #ba5fe4;
$green-pastel: #78ee76;

$theme-colors: (
  'dark': $tint-black,
);
