$tint-black: #2e2e2e;
$black: #000000;
$red-magenta: #db5461;
$salmon-orange: #eeac76;
$base-white: #f1edee;
$white: #ffffff;
$baby-pink: #ebc1c1;
$shadow-red-magenta: #DA4848; 

$theme-colors: (
  'dark': $tint-black,
);
