@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;500;600;700;800;900&display=swap);

/* For mapping with figma */
$font-h1: 3.052rem;
$font-h2: 2.441rem;
$font-h3: 1.953rem;
$font-h4: 1.563rem;
$font-h5: 1.25rem;
$font-h6: 1rem;
$font-description: 0.78rem;
