@use '../../abstracts' as *;

.change-password {
  .fill {
    min-height: 100vh;
    height: 100%;
  }
  .wrapper {
    background-color: $salmon-orange;
    border-top-left-radius: 91px;
    border-bottom-left-radius: 91px;
    .switch-page-btn {
      background-color: $base-white;
      margin-bottom: 20px;
      margin-right: 20px;
      div {
        color: $shadow-red-magenta !important;
      }
    }

    .text-header {
      color: $white;
    }
    .form {
      width: 90%;
      background-color: $red-magenta;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

      &-group {
        font-weight: 400;
        color: $white;
      }
      input[type='email'],
      input[type='password'],
      input[type='text'] {
        background: $white;
        border: 1px solid $base-white;
      }

      &-change-btn {
        width: 250px;
        border-radius: 63px;
        color: $black;
        font-size: medium;
        background-color: $base-white;
        padding: 10px;
        border: 1px solid $baby-pink;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        &:hover {
          color: $white;
          background: $tint-black;
        }
      }
    }
  }
}
