@use '../abstracts' as *;

.history-page {
  .main-container {
    background-color: $red-magenta;
    color: white;
    padding: 30px;
  }
  tr {
    height: 70px;
    vertical-align: middle;
  }
  td,
  th {
    padding: 10px 40px;
  }
}
