$tint-black: #2e2e2e;
$red-magenta: #db5461;
$salmon-orange: #eeac76;
$base-white: #f1edee;

$theme-colors: (
  'dark': $tint-black,
);
@import url(https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;500;600;700;800;900&display=swap);

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500;
  min-height: 100%;
  height: 100%;
}

// h1, h2, h3, h4, h5 {
//   font-family: 'Poppins', sans-serif !important;
// }

/* For mapping with figma
h1 font-size: 3.052rem;
h2 font-size: 2.441rem;
h3 font-size: 1.953rem;
h4 font-size: 1.563rem;
h5 font-size: 1.25rem;
p font-size: 1rem;
*/
#root {
  min-height: 100%;
  height: 100%;
}

.bookbix-logo {
  font-family: 'MuseoModerno', sans-serif !important;
  color: white;
  padding: 10px;
}

.login-header {
  color: white;
  width: 450px;
  span {
    font-weight: 700;
    color: #2e2e2e;
  }
}
.login-form {
  &-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.login-left {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 80%;
  }
}
.login-right {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  background-color: $red-magenta;
  border-top-left-radius: 91px;
  border-bottom-left-radius: 91px;
}

.profile-manage {
  display: flex;
  justify-content: center;
  // align-items: center;
  background-color: $red-magenta;
  border-top-left-radius: 91px;
  border-bottom-left-radius: 91px;
  border-top-right-radius: 91px;
  border-bottom-right-radius: 91px;
  img {
    width: 80%;
  }
  height: 100%;
}

.fill {
  min-height: 100%;
  height: 100%;
}
.form-group label:not(.chackboxLabel) {
  display: inline-block;
  // background-color: white;
  color: white;
}

input[type='email'],
input[type='password'] {
  background: white;
  border: 1px solid $base-white;
  border-radius: 26px;
}

//This scss file used for apply styles global and change some sass variables
.text-link,
text-link:hover {
  color: inherit;
  text-decoration: inherit;
}
// Import at the bottom of the file
@import 'bootstrap/scss/bootstrap';
